node_modules
dist
.git
.github
.githooks
.vitest
.env
.env.*
!.env.example
logs
*.md
docs
deploy
compose*.yml
.vscode
.editorconfig
.eslintrc*
eslint.config.mjs
.prettierrc*
prettier.config.*
loadtest
